*, body, html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;

}

.chicol{
  padding: 20px;
}
.chicol:hover{
  /* border: black solid 2px; */
  box-shadow: 1px 1px 16px;

}
.profile{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.profile:hover{
  box-shadow: 1px 1px 16px;
}
.chidcolprof{
  padding: 20px;
}